services:
  # Monolithic Service (Backend + Frontend)
  - type: web
    name: cinebook-app
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: DB_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: REDIS_PASSWORD
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        fromService:
          type: web
          name: cinebook-app
          envVar: RenderServiceAddress
